Repository Miliyonayalew/Marriott-Reservation-Backend, pull requests merged in 2023-02, with the labels that each got.

#16 Create the app and setup Linters
  .gitattributes
  .github/workflows/linters.yml
  .gitignore
  .rubocop.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  LICENSE
  Rakefile
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/.keep
  app/jobs/application_job.rb
  app/mailers/application_mailer.rb
  app/models/application_record.rb
  app/models/concerns/.keep
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  bin/bundle
  bin/rails
  bin/rake
  bin/setup
  config.ru
  config/application.rb
  config/boot.rb
  config/cable.yml
  config/credentials.yml.enc
  config/database.yml
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/cors.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/locales/en.yml
  config/puma.rb
  config/routes.rb
  config/storage.yml
  db/seeds.rb
  lib/tasks/.keep
  log/.keep
  package-lock.json
  package.json
  public/robots.txt
  storage/.keep
  tmp/.keep
  tmp/pids/.keep
  tmp/storage/.keep
  vendor/.keep
Labels: rails, rubocop

#20 Rervation model Association and Validation
  app/models/booking.rb
  app/models/room.rb
  db/migrate/20230224162748_create_rooms.rb
  db/schema.rb
  db/seeds.rb
Labels: model, validation, association, migration

#21 Authentication with Devise & Devise-JWT
  .gitignore
  Gemfile
  Gemfile.lock
  LICENSE.md
  README.md
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  config/application.rb
  config/credentials.yml.enc
  config/environments/development.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20230226233943_add_devise_to_users.rb
  db/migrate/20230226234145_add_jti_to_users.rb
  db/schema.rb
  db/seeds.rb
Labels: model, Authentication, controllers, configuration

#22 Setup the Controllers and integrate with authentication
  app/controllers/api/v1/bookings_controller.rb
  app/controllers/api/v1/rooms_controller.rb
  app/controllers/api/v1/users/registrations_controller.rb
  app/controllers/api/v1/users/sessions_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  config/credentials.yml.enc
  config/initializers/devise.rb
  config/routes.rb
Labels: model, association, Authentication, controllers, routes, devise, devise-jwt
